<h1>Users#edit</h1>

<% if current_user.username.nil? %>
	おい、ユーザーネームを設定しろ！

	<%= form_for(@user, url:users_update_path, method: 'post') do |f| %>

	  <dl>
	  	<dt>Your Name:</dt>
	  	<dd><%= f.text_field :fullname %></dd>

	    <dt>Slack Name:</dt>
	    <dd><%= f.text_field :username %></dd>
	  </dl>

	  <%= f.submit "OK" %>
	<% end %>

<% end %>